---
import Welcome from '../components/Welcome';
import URLList from '../components/URLList';

const customUrl = Astro.url.pathname.substring(1);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>The Urlist</title>
	</head>
	<body>
		<main>
			{customUrl ? (
				<URLList client:load customUrl={customUrl} />
			) : (
				<Welcome client:load />
			)}
		</main>
	</body>
</html>